{% extends 'base.html' %}
{% block content %}
<div class="card">
    <h2>Нове бронювання</h2>
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
    {% if preview_total %}<div class="flash">Попередня вартість бронювання: {{ preview_total }}</div>{% endif %}
    <form method="post">
        <label>Клієнт</label>
        <input name="full_name" placeholder="ПІБ" required>
        <input name="email" placeholder="Email" required>
        <input name="phone" placeholder="Телефон" required>
        <select name="loyalty_level">
            <option>Standard</option>
            <option>Silver</option>
            <option>Gold</option>
        </select>

        <label>Номер</label>
        <select name="room_id">
            {% for room in rooms %}
            <option value="{{ room.id }}">{{ room.hotel.name }} / №{{ room.room_number }} / {{ room.room_type }} / {{ room.price_per_night }} за ніч / {{ 'вільний' if room.is_available else 'недоступний' }}</option>
            {% endfor %}
        </select>

        <label>Дата заїзду</label>
        <input type="date" name="check_in" required>
        <label>Дата виїзду</label>
        <input type="date" name="check_out" required>

        <button class="btn btn-secondary" type="submit" name="preview" value="1">Розрахувати суму</button>
        <button class="btn" type="submit">Забронювати і заблокувати кошти</button>
    </form>
</div>
{% endblock %}
